nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .container
        a.navbar-brand(href='/') Accueil
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExample07', aria-controls='navbarsExample07', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarsExample07.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item.active
                    a.nav-link(href='/recettes')
                        | Liste des recettes
                li.nav-item
                    a.nav-link(href='/recettes/ajout') Création d'une recette
                //li.nav-item.dropdown
                //    a#dropdown07.nav-link.dropdown-toggle(href='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Dropdown
                //    .dropdown-menu(aria-labelledby='dropdown07')
                //        a.dropdown-item(href='#') Action
                //        a.dropdown-item(href='#') Another action
                //        a.dropdown-item(href='#') Something else here
