extends ../layout

block body
    main.container
        h1 Liste des recettes
        ul
            each recipe in recipes
                li= recipe.name + ' '
                    a(href="/recettes/" + recipe.slug) Voir la recette
                    include delete-form
